<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Botón de Menú Lateral -->
        <button class="btn btn-light me-3" (click)="toggleSidebar()">
            <i class="bi bi-list"></i>
        </button>

        <!-- Título Centrado -->
        <span class="navbar-brand" id="titulo" i18n>Buscador de Sucursales</span>


        <img src="Logo_Indec.png" alt="Icono" style="width: 60px; height: 30px;" />
    </div>
</nav>

<!-- Loader -->
<div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden" i18n>Cargando...</span>
    </div>
    <p i18n>Cargando sucursales...</p>
</div>

<!-- Fondo Oscuro (Overlay) -->
<div *ngIf="isSidebarOpen" class="overlay" (click)="closeMenus()"></div>

<!-- Menú Lateral -->
<div class="sidebar" [class.open]="isSidebarOpen">
    <button class="close-btn" (click)="closeMenus()"><i class="bi bi-x"></i></button>
    <h4 i18n>Nuestros Servicios</h4>
    <!-- Opciones del menú -->
    <ul class="list-unstyled mt-3">
        <li>
            <button class="btn btn-light w-100 btn-menu" (click)="goToPriceComparator()" i18n>
                <i class="bi bi-bar-chart"></i> Comparador de Precio
            </button>
        </li>
        <li>
            <button class="btn btn-light w-100 btn-menu" (click)="goToBranches()" i18n>
                <i class="bi bi-geo-alt"></i> Buscar Sucursales
            </button>
        </li>

    </ul>

    <!-- Selector de idioma -->
    <div class="language-selector mt-3">
        <label i18n for="language">Idioma:</label>
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img [src]="'flags/' + selectedLanguage + '.png'" class="flag-icon"> {{ selectedLanguageName }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                <li *ngFor="let idioma of idiomas">
                    <!-- Elimina href="#" y usa (click) para llamar a la función changeLanguage -->
                    <a class="dropdown-item" (click)="changeLanguage(idioma.cod_idioma)">
                        <img [src]="'flags/' + idioma.cod_idioma + '.png'" class="flag-icon"> {{ idioma.nom_idioma }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="buscar-sucursales-container container">
    <div class="select-row">
        <!-- Selección de Provincia -->
        <div class="form-group">
            <label for="provincia" i18n>Provincia</label>
            <select id="provincia" class="form-control" (change)="onProvinciaChange($event)">
                <option value="" disabled selected i18n>Seleccione una Provincia</option>
                <option *ngFor="let provincia of provincias" [value]="provincia.cod_provincia">
                    {{ provincia.nom_provincia }}
                </option>
            </select>
        </div>

        <!-- Selección de Localidad -->
        <div class="form-group">
            <label for="localidad" i18n>Localidad</label>
            <select id="localidad" class="form-control" (change)="onLocalidadChange($event)"
                [disabled]="!selectedProvincia">
                <option value="" disabled selected i18n>Seleccione una Localidad</option>
                <option *ngFor="let localidad of localidades" [value]="localidad.nro_localidad">
                    {{ localidad.nom_localidad }}
                </option>
            </select>
        </div>
    </div>

    <button (click)="mostrarSucursales()" class="btn btn-primary" style="background-color: #2D336B;"
        [disabled]="!selectedLocalidad" i18n>Buscar</button>

    <!-- Mostrar mensaje de espera si showSucursales es false -->
    <div *ngIf="!showSucursales" class="container my-5 text-center">
        <img class="gif" src="gifs/waiting2.gif" alt="Cargando">
        <p class="text-secondary mt-2" i18n>Esperando sucursales...</p>
    </div>

    <div class="container my-5" *ngIf="showSucursales && sucursalesAgrupadas">
        <h2 class="text-center mb-4" i18n>Sucursales Disponibles</h2>
        <hr class="soft-divider">

        <div *ngFor="let supermercado of sucursalesAgrupadas | keyvalue">
            <!-- Supermercado -->
            <h3 class="text-primary mt-4 text-center">{{ supermercado.key }}</h3>

            <!-- Sección para las sucursales -->
            <div class="d-flex flex-wrap justify-content-center gap-4">
                <div *ngFor="let sucursal of supermercado.value" class="card-container fade-in">
                    <div class="card shadow-sm border-0">
                        <div class="card-body text-center">
                            <h5 class="card-title text-primary">{{ sucursal.nom_sucursal }}</h5>
                            <p class="card-text text-muted">{{ sucursal.calle }} {{ sucursal.nro_calle }}</p>
                            <button class="btn btn-link p-0 text-secondary toggle-btn" (click)="toggleInfo(sucursal)">
                                <i class="bi"
                                    [ngClass]="{'bi-chevron-down': !sucursal.showMore, 'bi-chevron-up': sucursal.showMore}"></i>
                            </button>
                            <div class="additional-info" *ngIf="sucursal.showMore">
                                <p i18n><strong>Horarios:</strong></p>
                                <ul class="list-unstyled">
                                    <li *ngFor="let horario of formatHorario(sucursal.horario_sucursal)">{{ horario }}
                                    </li>
                                </ul>
                                <p i18n><strong>Teléfono:</strong> {{ sucursal.telefonos }}</p>
                                <p i18n><strong>Servicios:</strong> {{ sucursal.servicios_disponibles }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div *ngIf="!showSucursales && sucursales.length === 0" class="container my-5 text-center">
        <p class="text-secondary" i18n>No se encontraron sucursales en la zona seleccionada.</p>
    </div>
</div>